// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  

.chat-interaction {
    padding-left: 15%;
    padding-right: 15%;
}

.chat-interaction-element {
    width: 100%;
}

.chat-interaction-button-container {
    float: right;
}